:root{
    --vermelho:#E50914;
    --preta:#141414;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Elementos Base */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
   
    color: var(--vermelho);
    font-family: 'Arial-Black','Times';
    font-size: 40px;
    
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
/*Filmes Principal */

/* linear-gradiente cria uma camada fina de gradiente pra dá um constrate maior*/
.filme-principal{
    font-size: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)100%) ,url('/img/got-capa2.jpg');

    height: 500px;
    background-size: cover;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 20px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.botao{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;

    padding: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 0.5f ease all;

}

.botao:hover{
    background-color:white;
    color:black;
}
.botao i{
    margin-right: 8px;
}
.container{
    margin-left: 30px;
    margin-right: 5px;
}
.filme-principal .container{
    width: 60%;
}
.box-filme{
    width: 80%;
    height: 80%;
    display: block;
}
.carrosel-filmes{
    margin-top: 5px;
}
             